/* Task 6: Image Gallery */

.gallery {
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid darkblue;
    margin: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}


/* Task 7: Table */

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th {
    background-color: darkblue;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightblue;
}